@import "compass_twitter_bootstrap";
@import "compass_twitter_bootstrap_responsive";

@mixin brandon {
  font-family: "brandon-grotesque";
}

@mixin droid {
  font-family: "droid-serif";
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  background: #f8c23c url('../images/bg2.png') ;
  @include brandon;
}

p {
  font-size: 12px;
}

a {
  outline: none;
  border: none;
}

.color-bar {
  background-color: #7dccb9;
  height: 9px;
  position: relative;
  z-index: 5;
}

#inner-wrapper {
  width: 100%;
}

#header {
  position: relative;
  padding-bottom: 5em;
  .container {
    .span10 {
      /*background-color: #F8C23C;*/
    }
  }
  .span10 {
    height: 41em;
  }
  #logo {
  }
  .deets {
    width: 54.2%;
    background-color: #F8C23C;
    position: absolute;
    top: -50px;
    padding: 8em 0 7.25em 6.2em;
    
    margin-left: 18.5em;
    z-index: 3;
    h1 {
      text-transform: uppercase;
      color: #4a3e21;
      margin-bottom: .3em;
      font-size: 27px;
    }
    h3 {
      margin-bottom: 1em;
    }
    .desc {
      @include droid;
      color: #a87f19;
      font-size: 1.1em;
      margin-bottom: 1.3em;
      line-height: 1.3em;
    }
    .reg {
    }
    .btn-brown {
      background-color: #221d13;
      color: #f8c23c;
      padding: 1em 2em;
      @include border-radius(3px);
      text-transform: uppercase;
      display: block;
      float: left;
      margin-right: 2em;
    }
    span.date {
      color: #fff;
      font-weight: 500;
      font-size: 1.2em;
      text-transform: uppercase;
      position: relative;
      top: .3em;
    }
  }
}

#speakers-schedule {
  position: relative;
  z-index: 3;
  margin-top: -7.8em;
  .span5 {
    width: 325px;
  }
  #speakers {
    padding: 2em 2em 0 2.6em;
    background-color: #fff;
    margin-top: -24px;
    width: 375px;
    h2 {
      font-weight: 700;
      text-transform: uppercase;
    }
    h3 {
      @include droid;
      font-weight: 400;
    }
    h4 {
      color: #7dccba;
      text-transform: uppercase;
      font-size: .9em;
      line-height: 14px;
      margin-bottom: 10px;
    }
    .s-desc {
      @include droid;
      font-style: italic;
      color: #a87f19;
    }
    .speaker-list {
      list-style: none;
      margin: 0 -2em 0 -2.6em;
      li {
        padding: 1.2em 0;
        min-height: 168px;
        .s-pic {
          width: 163px;
          height: 163px;
          float: left;
          margin: .5em 1.5em 2em 2.9em;
          overflow: visible;
          a {
            background: url('../images/TMS_Lg_sprite.png') no-repeat top left;
          }
          a.sprite-TMS_Lg_Grace{ 
            background-position: -12px -12px; width: 163px; height: 163px; 
          } 
          a.sprite-TMS_Lg_Grace:hover{ 
            background-position: -12px -209px; width: 163px; height: 163px; 
          } 
          a.sprite-TMS_Lg_Kimm{ 
            background-position: -12px -406px; width: 187px; height: 187px; 
          } 
          a.sprite-TMS_Lg_Kimm:hover{ 
            background-position: -12px -603px; width: 187px; height: 187px; 
          } 
          a.sprite-TMS_Lg_Stephen{ 
            background-position: -12px -800px; width: 187px; height: 187px; 
          } 
          a.sprite-TMS_Lg_Stephen:hover{ 
            background-position: -12px -997px; width: 187px; height: 187px; 
          } 
          a {
            display: block;
            width: 163px;
            height: 163px;
            img {
              display: none;
            }
          }
        }
        .s-bio {
          padding-right: 1.9em; 
          @include droid;
          font-style: italic;
          color: #73624b;
          font-size: .96em;
          line-height: 16px;
        }
      }
    }
    .s-stripe {
      background-color: #ecf7f5;
    }
  }
  #schedule {
    margin-left: 0;

    h2 {
      padding-left: 3em;
      padding-top: .1em;
      padding-bottom: .1em;
      text-transform: uppercase;
    }
    .table-bordered {
      font-size: 17px;
      border-top: 1px solid #F8C23C;
      border-right: none;
      border-bottom: none;
      border-left: none;
      td {
        border-left: 1px solid #F8C23C;
        border-top: 1px solid #F8C23C;
        padding: 15px;

      }
      td.time {
        border-left: none;
        text-align: right;
        color: #a87f19;
        font-weight: 700;
      }
      td.event {
        @include droid;
        color: #fff;
        small {
          display: block;
          margin-bottom: 2px;
          margin-top: .3em;
          @include brandon;
          color: #a87f19;
          font-size: 13px;
          text-transform: uppercase;
          i {
            @include droid;
            text-transform: none;
          }
        }
      }
    }
  }
}


#panelists {
  background-color: #4a3e21;
  color: #a87f19;
  padding-top: 150px;
  padding-bottom: 55px;
  margin-top: -58px;
  h2 {
    @include brandon;
    text-transform: uppercase;
  }
  .p-desc {
    width: 205px;
    margin-left: 250px;
  }
  .p-peeps {
    margin-left: 96px;
    margin-top: -107px;
    ul {
      list-style: none;
      margin: 0;
      li {
        float: left;
        margin-right: 1.64em;
        margin-bottom: 20px;
        text-align: center;
        a {
          img {
            display: none;
          }
          display: block;
          width: 102px;
          height: 102px;
          background: url('../images/TMS_Md_sprite.png') no-repeat top left;
        }
        .p-pic {
          width: 102px;
          height: 102px;
        }
        .sprite-TMS_Md_AmyE{ 
          background-position: -4px -4px; width: 102px; height: 102px; 
        } 
        a.sprite-TMS_Md_AmyE:hover{ 
          background-position: -4px -124px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_AmyF{ 
          background-position: -4px -244px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_AmyF:hover{ 
          background-position: -4px -364px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Grace{ 
          background-position: -4px -484px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Grace:hover{ 
          background-position: -4px -604px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Justin{ 
          background-position: -4px -724px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Justin:hover{ 
          background-position: -4px -844px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Kimm{ 
          background-position: -4px -964px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Kimm:hover{ 
          background-position: -4px -1084px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Stephen{ 
          background-position: -4px -1204px; width: 102px; height: 102px; 
        } 
        .sprite-TMS_Md_Stephen:hover{ 
          background-position: -4px -1324px; width: 102px; height: 102px; 
        } 
        .p-org {
          @include droid;
          font-style: italic;
        }
      }
      li.last {
        margin-right: 0;
      }
    }
  }
}

#experts {
  padding: 2em;
  h2 {
    @include brandon;
    text-transform: uppercase;
    color: #fff;
    float: left;
    margin-right: 3em;
  }
  .e-desc {
    @include droid;
    font-style: italic;
  }
  .e-list, .e-list li {
    list-style: none;
    margin: 0;
  }
  .e-list ul {
    width: 100%;
  }
  .e-list li {
    float: left;
    width: 160px;
    margin: 1em 0 0 0;
    text-align: center;
    .e-name {
      text-transform: uppercase;
    }
  }
  background: -moz-linear-gradient(left, rgba(234,178,40,1) 0%, rgba(202,145,23,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(234,178,40,1)), color-stop(100%,rgba(202,145,23,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(234,178,40,1) 0%,rgba(202,145,23,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(234,178,40,1) 0%,rgba(202,145,23,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(234,178,40,1) 0%,rgba(202,145,23,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(234,178,40,1) 0%,rgba(202,145,23,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eab228', endColorstr='#00ca9117',GradientType=1 ); /* IE6-9 */
	
	a.sprite {
		display: block;
    width: 103px;
    height: 102px;
    background: url('../images/experts-sprites.png') no-repeat top left;
    margin: 0 auto;
    
    img {
    	display: none;
    }
	}
	
	a.sprite-Paul {
		background-position: 0 -214px;
	}
	a.sprite-Paul:hover {
		background-position: 0 -321px;
	}
	
	a.sprite-Amy {
		background-position: 0 0;
	}
	a.sprite-Amy:hover {
		background-position: 0 -107px;
	}
	
	a.sprite-Kimm {
		background-position: 0 -428px;
	}
	a.sprite-Kimm:hover {
		background-position: -2px -535px;
	}
	
	a.sprite-Justin {
		background-position: 0 -642px;
	}
	a.sprite-Justin:hover {
		background-position: 0 -749px;
	}
}

#craft-party {
  background-color: #fff;
  .span10 {
    background: url('../images/plate.png') 600px 220px no-repeat;
  }
  h2 {
    @include brandon;
    text-transform: uppercase;
    font-weight: 700;
    color: #f8c23c;
    margin-top: 1.6em;
    margin-bottom: .5em;
  }
  .party-pic {
    float: left;
  }
  .party-desc {
    @include droid;
    font-style: italic; 
    color: #a87f19;
    margin-bottom: 3em;
  }
  .btn-green {
    background-color: #71bcab;
    color: #fff; 
    padding: 1em 2em;
    @include border-radius(3px);
    text-transform: uppercase;
  }
}

#sponsors {
  background: #f8c23c url('../images/bg.png');
  min-height: 200px;
  margin-top: -53px;
  a {
    color: #fff;
  }
  .span6 {
    margin-top: 2.5em; 
  }
  h2 {
    @include brandon;
    text-transform: uppercase;
    color: #fff;
  }
  .sponsor-desc {
    @include droid;
    font-style: italic;
    color: #4a3e21;
  }
  .sponsor-logos ul,
  .sponsor-logos li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .sponsor-logos li {
    float: left;
    text-align: center;
    margin-bottom: 3em;
    margin-right: 6em;
  }
}

#location {
  border-top: 3px solid #fff;
  min-height: 200px;
  padding-top: 4em;
  margin-bottom: -0.8em;
  h3 {
    text-transform: uppercase;
  }
  .madeforyou {
    h3.l-email {
      color: #fff;
      margin-bottom: 10px;
      font-size: 12px;
      a {
        color: #fff;
      }
    }
  }
  .l-desc {
    @include droid;
    font-style: italic;
    color: #a87f19;
  }
  .l-addy {
    @include brandon;
    text-transform: uppercase;
    color: #fff;
    a {
      color: #fff;
    }
  }
  .zen {
    img {
      position: relative;
      top: 21px;
    } 
  }
}

#footer {
  background-color: #fff;
  height: 1.4em;
  @include droid;
  color: #a87f19;
  padding-top: 1em;
  .span10 {
    margin-top: -5px;
  }
}

/* Big screen media queries */
@media (min-width: 1200px) {
  #header {
    h1 {
      font-size: 30px;
    }
    .deets {
      width: 56.6%;
      margin-left: 21.4em;
      .desc {
        font-size: 1.4em;
      }
    }
  }
  
  #speakers-schedule {
    margin-top: -4.8em;
    .span5 {
      width: 413px;
    }
  }
  #panelists {
    margin-top: -57px;
    .p-peeps {
      margin-left: 84px;
    }
  }
  #sponsers {
    .sponsor-logos li {
      margin-right: 6em;
    }
  }
}
