.row#header
  .container
    .span10.offset1
      .span3#logo
        .logo
          %img(src="images/tms-logo2.png")
      .span6.deets
        .row
          .span5
            %h1 
              A one-day business
              %br
              conference for the art, 
              %br
              craft, and design world.
            %h3
              %img(src="../images/bby.png" alt="Brought to you by Indie Craft Parade")
            %p.desc
              Connect with fellow creatives while learning how to start or grow your 
              creative business, hear practical advice from industry experts and participate 
              in collective discussions. Tickets are $100 and include breakfast and lunch.
            %p
              %a.btn-brown(href="https://tito.io/indie-craft-parade/the-makers-summit" target="_blank")
                Register
              %span.date
                February 2nd, 2013 in 
                %br
                Greenville, South Carolina.
.row#speakers-schedule
  .container
    .span10.offset1
      #speakers.span4
        %h2 Keynote Speakers
        %p.s-desc
          We invited some of the most talented people in the tech, craft, and design 
          communities to join us at The Makers Summit. These folks will share their 
          stories and advice while inspiring us to dream big.
        %ul.speaker-list
          %li
            .s-pic
              %a.sprite-TMS_Lg_Stephen(href="http://www.spoonflower.com/welcome" target="_blank")
                %img(src="../images/TMS_Lg_Stephen.png" alt="Stephen Fraser")
            %h3.s-name Stephen Fraser
            %h4.s-title Founder, Spoonflower
            %p.s-bio
              In 2008, Stephen co-founded the world’s first Internet-based custom 
              fabric printing service. Prior to launching Spoonflower he worked as a 
              consultant for Internet start-ups and served as marketing director for 
              Lulu.com, a print on demand book publishing company.
          %li
            .s-pic
              %a.sprite-TMS_Lg_Grace(href="http://about.me/gracekang" target="_blank")
                %img(src="../images/TMS_Lg_Grace.png" alt="Grace Kang")
            %h3.s-name Grace Kang
            %h4.s-title 
              Founder, Pink Olive, 
              %br
              Retail Recipes
            %p.s-bio
              Previously a buyer for Bloomingdale’s, Saks.com and Barney’s New York, 
              Grace Kang knows retail. In addition to her boutique, Pink Olive, she 
              created RetailRecipes.com – a site devoted to help designers & artists 
              make their products consumer ready.
          %li
            .s-pic 
              %a.sprite-TMS_Lg_Kimm(href="http://www.etsy.com/people/Alfonzi" target="_blank")
                %img(src="../images/TMS_Lg_Kimm.png" alt="Kimm Alfonso")
            %h3.s-name Kimm Alfonso
            %h4.s-title Etsy, Community Outreach
            %p.s-bio
              A Brooklyn-based artist and graphic designer with her own line of screen 
              printed goods, Kimm heads up Etsy’s Community Outreach teams. She’s an 
              expert at creating events and strategic partnerships that help small 
              businesses succeed.

      #schedule.span5
        %h2 The Schedule
        %table.table-bordered.the-schedule
          %tr
            %td.time 8
            %td.event 
              Registration
              %br
              %small Coffee & Light Breakfast
          %tr
            %td.time 9
            %td.event 
              Stephen Fraser from Spoonflower 
              %br
              %small
                KEYNOTE: 
                %i 
                  The Blossoming of 
                  %br
                  People-Powered Textile Design
          %tr
            %td.time 10
            %td.event
              Establish Your Identity 
              %br
              %small DISCUSSION PANEL 
          %tr
            %td.time 11
            %td.event 
              Grace Kang from Retail Recipes
              %br
              %small
                KEYNOTE: 
                %i
                  How to make it happen:
                  %br
                  My journey as a creative entrepreneur
          %tr
            %td.time 12
            %td.event Lunch
          %tr
            %td.time 1
            %td.event 10 Minute Talks
          %tr
            %td.time 2
            %td.event Coffee Break
          %tr
            %td.time 2:30
            %td.event Giveaways and Sponsors
          %tr
            %td.time 3
            %td.event 
              Expanding your Market 
              %br
              %small Discussion Panel 
          %tr
            %td.time 4
            %td.event
              Kimm Alfonso from Etsy
              %br
              %small
                KEYNOTE: 
                %i 
                  Doing Business Intentionally:
                  %br
                  Setting goals and meeting them
.row#panelists
  .container
    .span10.offset1
      .span2.offset2.p-desc
        %h2 Panelists
        %p
          These interactive sessions let you guide the conversation. Our panelists will 
          share their backgrounds and various areas of expertise, then answer your 
          questions. This year's topics are focused around growing your business, so 
          come prepared to get involved and ask questions!
      .span4.p-peeps
        %ul
          %li
            .p-pic 
              %a.sprite-TMS_Md_AmyF(href="http://amyflurry.com/home.html" target="_blank")
                %img(src="../images/TMS_Md_AmyF.png" alt="Amy Flurry")
            .p-name AMY FLURRY
            .p-org Recipe for Press
          %li
            .p-pic
              %a.sprite-TMS_Md_AmyE(href="http://amyeellis.com/about/" target="_blank")
                %img(src="../images/TMS_Md_AmyE.png" alt="Amy Ellis")
            .p-name AMY ELLIS 
            .p-org Mailchimp
          %li
            .p-pic
              %a.sprite-TMS_Md_Kimm(href="http://www.etsy.com/people/Alfonzi" target="_blank")
                %img(src="../images/TMS_Md_Kimm.png")
            .p-name KIMM ALFONSO
            .p-org Etsy
          %li
            .p-pic
              %a.sprite-TMS_Md_Justin(href="http://www.brainsonfire.com/individuals/view/justin_gammon/" target="_blank")
                %img(src="../images/TMS_Md_Justin.png" alt="Justin Gammon")
            .p-name JUSTIN GAMMON
            .p-org Brains on Fire
          %li
            .p-pic
              %a.sprite-TMS_Md_Grace(href="http://about.me/gracekang" target="_blank")
                %img(src="../images/TMS_Md_Grace.png" alt="Grace Kang")
            .p-name GRACE KANG
            .p-org
              Pink Olive,
              %br
              Retail Recipes
          %li.last
            .p-pic
              %a.sprite-TMS_Md_Stephen(href="http://www.spoonflower.com/welcome" target="_blank")
                %img(src="../images/TMS_Md_Stephen.png" alt="Stephen Fraser")
            .p-name STEPHEN FRASER
            .p-org Spoonflower
.row#experts
  .container
    .span10.offset1
      .span10
        %h2 Experts on hand
        %p.e-desc
          Each attendee will have access to 10-minute complimentary consultations with 
          experts in various creative and non-creative fields: accounting, legal, branding, 
          marketing, public relations, and Etsy shop reviews.
        %ul.e-list
          %li
            .e-pic
              %a.sprite.sprite-Paul(href="http://google.com" target="_blank")
                %img(src="../images/TMS_Sm_Paul.png")
            .e-name Paul Barnard
          %li
            .e-pic
              %a.sprite.sprite-Amy(href="http://amyeellis.com/about/" target="_blank")
                %img(src="../images/TMS_Sm_AmyF.png")
            .e-name Amy Flurry
          %li
            .e-pic
              %a.sprite.sprite-Kimm(href="http://www.etsy.com/people/Alfonzi" target="_blank")
                %img(src="../images/TMS_Sm_Kimm.png")
            .e-name Kimm Alfonso
          %li
            .e-pic
              %a.sprite.sprite-Justin(href="http://www.brainsonfire.com/individuals/view/justin_gammon/" target="_blank")
                %img(src="../images/TMS_Sm_Justin.png")
            .e-name Justin Gammon
          %li
            .e-pic
              %img(src="../images/TMS_Sm_TMS.png")
            .e-name The Makers Summit
          %li
            .e-pic
              %img(src="../images/TMS_Sm_TMS.png")
            .e-name The Makers Summit
.row#craft-party
  .container
    .span10.offset1
      .span3
        .party-pic
          %img(src="../images/party.jpg")
      .span6
        %h2 The best craft party ever
        %p.party-desc
          The Makers Summit after party is a great time to connect with other makers and 
          learn from their experiences. Mingle with peers and experts over dinner, followed 
          by a time of making. We'll have various projects on hand so that everyone can 
          chat while making something. 
          %br
          %br
          The Best Craft Party Ever begins at 7pm and is 
          separate from the conference. Tickets can be purchased for $50.
        %p
          %a.btn-green(href="https://tito.io/indie-craft-parade/the-makers-summit" target="_blank")
            Purchase ticket
.row#sponsors
  .container
    .span10.offset1
      .span3 &nbsp;
      .span6
        %h2 Sponsors
        %p.sponsor-desc
          The Makers Summit sponsors are hand picked to ensure their product or service 
          is relevant and meaningful to our event. Our goal is to provide valuable resources 
          to independent artists, and our sponsors help us accomplish this. Please let them 
          know how much you appreciate their support! If you'd like to find out more about 
          being a sponsor, please 
          %a(href="mailto:info@indiecraftparade.com") contact us.
      .span10.sponsor-logos
        %ul
          %li
            %a(href="http://www.mailchimp.com" target="_blank")
              %img(src="../images/TMS-Sponsor-MailChimp.png" alt="Mailchimp")
          %li
            %a(href="http://www.etsy.com/sell"  target="_blank")
              %img(src="../images/TMS-Sponsor-Etsy.png" alt="Etsy")
          %li
            %a(href="http://www.spoonflower.com" target="_blank")
              %img(src="../images/TMS-Sponsor-Spoonflower.png" alt="Spoonflower")
        %ul
          %li
            %a(href="http://www.mailchimp.com" target="_blank")
              %img(src="../images/olivebox.png" alt="OliveBox")
.row#location
  .container
    .span10.offset1
      .span3.madeforyou
        %h3.l-contact Contact Us
        %h3.l-email
          %a(href="mailto:info@indiecraftparade.com") info@indiecraftparade.com
        %a(href="http://www.indiecraftparade.com" target="_blank")
          %img(src="../images/madeforyou.png")
      .span3
        %h3.l-title The location
        %p.l-desc
          The Makers Summit will be held at Zen, an elegant, industrial space in downtown 
          Greenville, South Carolina.
        %p.l-addy
          %a(href="https://maps.google.com/maps?q=Zen+%26+Elegant+Space+For+Hire,+South+Main+Street,+Greenville,+SC&hl=en&ll=34.843553,-82.408104&spn=0.011288,0.033023&sll=34.843795,-82.408207&sspn=0.011288,0.033023&oq=Zen,+Greenvill&hq=Zen+%26+Elegant+Space+For+Hire,&hnear=S+Main+St,+Greenville,+South+Carolina&t=m&z=16" target="_blank" title="View on Google maps")
            924 S. Main St.
            %br
            Greenville, SC 29601
      .span3.zen
        %img(src="../images/zen.png")
.row#footer
  .container
    .span10.offset1
      &copy; 2012 Indie Craft Parade, a 501(c)4. 
