.row
  .span10.offset2
    .row
      .span3
        #logo
          %img(src="images/tms-logo.png")
      .span7
        %h1 
          A one-day business
          %br
          conference for the art, 
          %br
          craft, and design world.
        %h3  Brought to you by Indie Craft Parade
        %p
          Connect with fellow creatives while learning how to start or grow your 
          creative business, hear practical advice from industry experts and participate 
          in collective discussions. Tickets are $100 and include breakfast and lunch.
    .row
      #speakers.span5
        %h2 Keynote Speakers
        %p
          We invited some of the most talented people in the tech, craft, and design 
          communities to join us at The Makers Summit. These folks will share their 
          stories and advice while inspiring us to dream big.
        %p
          %ul.speaker-list
            %li
              .s-pic Pic here
              %h2.s-name Stephen Fraser
              %h3.s-title Founder, Spoonflower
              %p.s-bio
                In 2008, Stephen co-founded the world’s first Internet-based custom 
                fabric printing service. Prior to launching Spoonflower he worked as a 
                consultant for Internet start-ups and served as marketing director for 
                Lulu.com, a print on demand book publishing company.
            %li
              .s-pic Pic here
              %h2.s-name Kimm Alfonso
              %h3.s-title Etsy, Community Outreach
              %p.s-bio
                A Brooklyn-based artist and graphic designer with her own line of screen 
                printed goods, Kimm heads up Etsy’s Community Outreach teams. She’s an 
                expert at creating events and strategic partnerships that help small 
                businesses succeed.
            %li
              .s-pic Pic here
              %h2.s-name Grace King
              %h3.s-title Founder, Pink Olive, Retail Recipes
              %p.s-bio
                Previously a buyer for Bloomingdale’s, Saks.com and Barney’s New York, 
                Grace Kang knows retail. In addition to her boutique, Pink Olive, she 
                created RetailRecipes.com – a site devoted to help designers & artists 
                make their products consumer ready.
      #schedule.span5
        %h2 The Schedule
        %table.table.table-striped.table-bordered.table-hover.the-schedule
          %tr
            %td.time 8
            %td Registration and Coffee / Light Breakfast
          %tr
            %td.time 9
            %td 
              Stephen Fraser from Spoonflower 
              %br
              %small KEYNOTE: Inspirational, dream big
          %tr
            %td.time 10
            %td
              Establish Your Identity 
              %br
              %small Discussion Panel
          %tr
            %td.time 11
            %td 
              Grace Kang from Retail Recipes
              %br
              %small
                KEYNOTE: How to make it happen,
                %br
                my journey as a creative entrepreneur
          %tr
            %td.time 12
            %td Lunch
          %tr
            %td.time 1
            %td 10 Minute Talks
          %tr
            %td.time 2
            %td Coffee Break
          %tr
            %td.time 2:30
            %td Giveaways and Sponsors
          %tr
            %td.time 3
            %td 
              Expanding your Market 
              %br
              %small Discussion Panel
          %tr
            %td.time 4
            %td
              Kimm Alfonso
              %br
              %small
                KEYNOTE: Business structure,
                %br
                setting goals and meeting them
    .row#panelists
      .span2.offset3
        %h2 Panelists
        %p
          These interactive sessions let you guide the conversation. Our panelists will 
          share their backgrounds and various areas of expertise, then answer your 
          questions. This year's topics are focused around growing your business, so 
          come prepared to get involved and ask questions!
      .span5
        %ul.p-peeps
          %li
            .p-pic Pic here
            .p-name
            .p-org
          %li
            .p-pic Pic here
            .p-name
            .p-org
          %li
            .p-pic Pic here
            .p-name
            .p-org
          %li
            .p-pic Pic here
            .p-name
            .p-org
          %li
            .p-pic Pic here
            .p-name
            .p-org
          %li
            .p-pic Pic here
            .p-name
            .p-org
    .row#experts
      %h2 Experts on hand
      %p
        Each attendee will have access to 10-minute complimentary consultations with 
        experts in various creative and non-creative fields: accounting, legal, branding, 
        marketing, public relations, and Etsy shop reviews.
      .span10
        %ul.e-list
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
          %li
            .e-pic Pic here
            .e-name Bob Loblaw
    .row#craft-party
      .span3
        .party-pic pic here
      .span7
        %h2 The best craft party ever
        %p
          The Makers Summit after party is a great time to connect with other makers and 
          learn from their experiences. Mingle with peers and experts over dinner, followed 
          by a time of making. We'll have various projects on hand so that everyone can 
          chat while making something. The Best Craft Party Ever begins at 7pm and is 
          separate from the conference. Tickets can be purchased for $50.
        %p
          %a.btn.btn-info Purchase ticket
    .row#sponsors
      .span6
